<!doctype html>
<title>{% block title %}{% endblock %} - MyDiary</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>MyDiary</h1>
</nav>
<ul id="navi">
{% for nav in NAVS %}
 <li><a href="{{ nav['link'] | safe }}">{{ nav['msg'] | safe }}</a></li>
{% endfor %}
</ul>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>