{% extends 'base.html' %}

{% block header %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='preview/wmd.css') }}"/>
<script src="{{ url_for('static', filename='preview/wmd.js') }}"></script>
<script src="{{ url_for('static', filename='preview/showdown.js') }}"></script>
<style type="text/css" media="screen">
	textarea {width:100%;margin:0;}
	textarea, #notes-preview {border:1px solid gray;}
	#notes-preview {overflow-x:hidden;overflow-y:scroll;}
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='progress.css') }}"/>
  <h1>{% block title %}{{ T['taskname'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h5> Task Id={{ T[ 'id'] }} <h5>
  <div>
    <div style="display:block">category: {{ T['category'] }} </div>
    <div style="display:block">direction: {{ T['direction'] | safe }} </div>
    <div style="display:block">
        <span style="display:inline-block; background-color:silver">Rewards: {{T['rewards']}}</span>
        <span style="display:inline-block; background-color:magenta">Needed Steps: {{T['num_steps']}}</span>
    </div>
  </div>
     <hr>
  <div>
    <div style="display:block">Start: {{ T['t_register'] }} </div>
    <div style="display:block; color:{{ T['color'] }}">DeadLine: {{ T['deadline'] | safe }} </div>
    <div style="display:block">Complete: {{ T['t_complete'] }} </div>
    <div class="w3-border">
  	<div class="w3-{{ T['color'] }}" style="height:24px;width:{{ T['ratio'] }}%"></div>
	</div>
  </div>
  <div>
   <form method="post">
    <div>
      <label for="description">Description (<i>Use markdown format</i>)</label>
			<textarea name="description" id="notes" rows="10">{{ T['description'] | safe }}</textarea>

			<label for="description">Preview</label>
			<div id="notes-preview"></div>
		</div>
    <input type="submit" value="Save">
   </form>
  </div>
<script type="text/javascript">
	new WMDEditor({
		input: "notes",
		button_bar: "notes-button-bar",
		preview: "notes-preview",
		output: "copy_html",
		buttons: "bold italic link  ol ul  heading",
		modifierKeys: false,
		autoFormatting: false
	});
</script>
{% endblock %}